*.DS_Store
*.tif
*.TIF
*.tiff
*.TIFF
*.png
*.PNG
*.jpg
*.JPG
*.dpx
*.DPX
*.vlw
log.txt
!test1.jpg
!test2.jpg
!test3.jpg
!test4.jpg
!test5.jpg
!test6.jpg
!output.jpg
!test7.jpg
!test8.jpg
!test9.jpg
!test10.jpg
!test11.jpg
!test12.jpg
